<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=0.5">
    <!-- document title -->
    <title>BattleShip powerd by D.P.O.I.</title>

    <!-- Latest compiled and minified bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css">

    <!-- battleship css -->
    <link rel="stylesheet" type="text/css" href="~/Content/board2.css">
</head>

<body>

    <div id="gameboard">
    </div>

    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/Scripts/board2.js"></script>

</body>

</html>
